---
import { Icon } from "astro-icon/components";
import type { SocialLink } from "../types/config";

type Props = SocialLink;

const { title, url, icon, external } = Astro.props;
---

<a
  href={url}
  class="flex items-center gap-3 p-2 rounded-lg bg-gray-100 dark:bg-gray-800 text-gray-600 dark:text-gray-400 hover:text-primary-600 dark:hover:text-primary-400 hover:bg-gray-200 dark:hover:bg-gray-700 transition-all group"
  target={external ? "_blank" : "_self"}
>
  <Icon name={icon} width={20} height={20} />
  <div>
    <p class="text-sm font-medium">{title}</p>
  </div>
</a>
